<div>
    <br />
    <a href="/#admin" class="btn btn-default pull-right">Admin panel</a>
    <h2>People invited to EventName</h2>

    <hr />
    <div class="form-group">
        <input ng-model="searchText" id="search" type="text" class="form-control" placeholder="Search for people" />
    </div>
    <div>
        <div ng-repeat="category in categories">
            <label class="radio-inline">
                <input type="radio" ng-model="selectFilter.mode" name="inlineRadioOptions" value="{{category.value}}"> {{category.lable}}
            </label>
        </div>
    </div>
    <hr />
    <p ng-model="selectFilter"></p>
    <div ng-show="!isBusy">
        <div class="text-center">
            <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
        </div>
    </div>

    <table class="table table-bordered" ng-show="isBusy">
        <thead>
            <tr>
                <th ng-repeat="head in tableHead">
                    {{ head }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="person in humans | personFilter: searchText:selectFilter.mode" id="row{{ person.id }}" ng-class="{success: person.isHere}">
                <td> {{ $index + 1 }}</td>
                <td> {{ person.firstName }}</td>
                <td> {{ person.lastName }} </td>
                <td> <input type="button" value="{{person.isHere ? 'Cansel' : 'Checkin'}}" class="btn btn-sm btn-primary" id="btn{{ person.id }}" ng-click="checkin(person)" /> </td>
            </tr>
        </tbody>
    </table>
</div>